<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Brainfuck Playground</title>

<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

<!--Github Ribbons-->
<a href="https://github.com/pocke/brainfuck-playground"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

<div class="container" id="vue-main">
  <div class="row">
    <h1 class="page-header">Brainfuck Playground</h1>
    <div class="col-xs-12">
      <h3>Program</h3>
      <textarea class="form-control" rows="10" v-model="program"></textarea>
      <div class="alert alert-danger" v-if="parseError" v-text="parseError"></div>
      <button class="btn btn-primary btn-lg" v-attr="disabled: hasError" v-on="click: run()">Run</button>
      <button class="btn btn-success btn-lg" v-on="click: updatePermalink()">Permalink</button>
      <button class="btn btn-info    btn-lg" v-on="click: tweet()">Tweet</button>
    </div>

    <div class="col-xs-6">
      <h3>Input</h3>
      <input type="text" class="form-control" v-model="input">
    </div>

    <div class="col-xs-6">
      <h3>Language</h3>
      <form class="form-horizontal">
        <div class="form-group" v-repeat="lang">
          <label class="control-label col-xs-3" for="lang-{{$key}}" v-text="$key"></label>
          <div class="col-xs-9">
            <input type="text" class="form-control" id="lang-{{$key}}" v-model="$value">
          </div>
        </div>
      </form>
      <div class="alert alert-danger" v-if="invalidLangError" v-text="invalidLangError"></div>
    </div>

    <div class="col-xs-12">
      <h3>Output</h3>
      <pre v-if="!evalError"><code v-text="output"></code></pre>
      <div class="alert alert-danger" v-if="evalError" v-text="evalError"></div>
    </div>

  </div>
</div>


<script src="build/main.js"></script>
</body>
